<mat-toolbar style="display: flex; justify-content: center;">
 
  <span style="padding-bottom: 1%; margin-right: 1px;"  class="material-icons">
    style
    </span>   
  <p class="ml-4"> War Game</p>
  <!-- <span class="spacer"></span> -->
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button> -->
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  </button>
</mat-toolbar>

<app-game></app-game>

